@import url("https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App{
  box-sizing: border-box;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}

:root{
  --font-aclonica: Aclonica;
}