
.digital-grade-book {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: Aclonica;
    color: rgb(245, 244, 244);
}

.header-menu{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}

.btn {
    margin-right: 10px;
}